* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #778DA9;
  font-family:'Pontano Sans', Helvetica, sans-serif
}

h3 {
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

/* General Styles */
.container {
  width: 90%;
  margin: 0 auto;
}

/* HEADER */
header {
  padding: 3rem;
  text-align: center;
}

header h1 {
  font-size: 6rem;
  color: #E0E1DD;
}

/* MAIN */
main {
  margin-top: 12rem;
}

main .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.tile {
  width: 30%;
  background-color: #393E41;
  border-radius: 5px;
  padding: 3rem;
}

.tile h2 {
  color: #E0E1DD;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 5rem;
  padding: 2rem;
}

.tile img {
  width: 35%;
  display:block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5rem;
  filter: 
}

.tile button {
  display: block;
  padding: 1rem 1.5rem;
  margin: 0 auto;
  cursor: pointer;
}

/* RESULTS */

.results {
  margin-top: 4rem;
}

.results .container {
  text-align: center;
}

.results h2 {
  font-size: 3rem;
  color: #E0E1DD;
}

.results .scoreboard {
  display: flex;
  justify-content: center;
}

.results .score-box {
  margin: 3rem 5rem;
}

.results .score-box .score-num {
  width: 100px;
  padding: 3rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #000;
  margin: 0 auto;
  color: #E0E1DD;
  font-size: 2.4rem;
}

.game-results {
  width: 50%;
  height: 100px;
  margin: 0 auto;
  border: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E0E1DD;
  font-size: 2.2rem;
}




